
* {
  font-family:'ZCOOL QingKe HuangYou', cursive;
}

.bigfont{
  font-size: 1.3em;
}

.consultForm{
  margin: 0 auto;
  width:80%;
}

footer {
  position: fixed;
  bottom:0;
  left:0;
}


h1{
  margin-bottom: 25px;
}